h2 {
  color: #011936;
}
.input {
  border: 2px solid #011936;
}
.btn-link {
  color: #ed254e;
  text-decoration: none;
  font-weight: 600;
}
.btn-link:hover {
  color: #f4fffd;
  text-decoration: none;
}
