* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}
body,
html {
  font-family: Arial, Helvetica, sans-serif;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.9)),
    url(../imagens/banner1.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}
header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  background-color: #f4fffd;
  padding: 30px 5%;
  box-shadow: 0 0 10px #465362;
}
header a,
header li,
header button {
  font-weight: 600;
  font-size: 16px;
  color: #011936;
  text-decoration: none;
}
#logo {
  cursor: pointer;
}
.menu {
  list-style: none;
}
.menu li {
  display: inline-block;
  padding: 0 20px;
}
.menu li a {
  transition: all 0.3s ease 0s;
}
.menu li a:hover {
  color: #ed254e;
}
header button {
  padding: 9px 25px;
  background-color: #011936;
  color: #ed254e;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}
button:hover {
  background-color: #465362;
  color: #f4fffd;
}
.container-fluid {
  padding: 0;
  align-items: center;
  height: 85vh;
}
#slider .carousel-inner,
#slider .carousel-item {
  height: 80vh;
  text-align: center;
  top: 15%;
  padding: 0 150px;
}
#slider .carousel-item h1 {
  font-size: 60px;
  margin-bottom: 110px;
  font-weight: 600;
  color: #f4fffd;
}
#slider .carousel-item p {
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 50px;
  color: #f4fffd;
}
.main-btn {
  padding: 15px;
  color: #ed254e;
  background-color: #011936;
  transition: all 0.3s ease;
  border-radius: 5px;
}
.main-btn:hover {
  text-decoration: none;
  color: #f4fffd;
  background-color: #465362;
}
.box-contain {
  background-color: #f4fffd;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 70px 140px;
}
.box {
  width: 80%;
  text-align: center;
}
.box h2 {
  margin-bottom: 50px;
  font-weight: 600;
  font-size: 35px;
}
.box p {
  margin-bottom: 50px;
  font-weight: 400;
  font-size: 20px;
}
